.logo-circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f4a7bb;
}

#titulo-principal {
    margin: 0;
    font-family: "Brush Script MT", "cursive";
    font-size: 5.5rem;
    color: #f4a7bb;
}

.superior {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #fce4ec;
}

.descripcion p {
    color: #555;             
    margin: 0;
    background-color: #fce4ec;
}

body {
    background-color: #fff9fb;
    color: #4e342e;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.contenedor-producto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

/* SORPRESA PRODUCTOS */
.cuadro {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

/* SORPRESA */
.cuadro:hover img {
    transform: scale(1.2);
}

/* SORPRESA */
.texto-oculto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.cuadro:hover .texto-oculto {
    opacity: 1;
}


/* Título de la sección GENERAL*/
.titulo-seccion {
    font-family: "Quicksand", "sans-serif";
    font-size: 2.5rem;
    color: #bd899bf2;
    margin-top: 50px;
}


/* SERVICIOS */
.contenedor-servicios {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 45px;
    gap: 35px;
}

.servicio-card {
    background: white;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.servicio-card:hover {
    transform: translateY(-10px);
}


.servicio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-servicio {
    padding: 20px;
}

.info-servicio h3 {
    color: #4e342e;
    font-size: 1.5rem;
    margin-top: 0;
}

.info-servicio p {
    color: #757575;
    font-size: 1rem;
    line-height: 1.4;
}

.linea-decoracion {
    height: 20px;
    width: 95%;
    background-color: #e3a6bb;
    margin-top: 20px;
    border-radius: 20px;
}

/* APARTADO PEDIDO */
.form-pedido {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;
    max-width: 400px;       
    margin: 40px auto;
}

.datospersonales {
    display: flex;
    flex-direction: column; 
    text-align: left;
    width: 100%;
}

.datospersonales label {
    font-family: 'Quicksand', sans-serif;
    color: #444; 
    font-weight: bold;
    margin-bottom: 5px;
}

.datospersonales input, 
.datospersonales textarea {
    padding: 10px;
    border: 1px solid #f4a7bb;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
}

.boton {
    background-color: #fce4ec; 
    color: #4e342e;               
    border: 2px solid #fce4ec; 
    padding: 12px 30px;
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: white;   
    border: 2px solid #f4a7bb;
    color: #f4a7bb;          
}

/* APARTADO CONTACTO */
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 50px;               
    padding: 20px 20px;
    flex-wrap: wrap;  
    background-color: #f0c7d4;     
     
}

.info-footer-container {
    display: flex;
    flex-direction: column;  
    text-align: left;  
}

.logo-circular {
    width: 180px;         
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.contacto h3 {
    font-family: 'Quicksand', sans-serif;
    color: #8d6e63;
    margin: 15px 0 5px 0;   
}

.contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.links-redes {
    display: flex;
    gap: 20px;            
    justify-content: center; 
}

.links-redes a {
    text-decoration: none;   
    font-family: 'Quicksand', sans-serif; 
    color: #444;             
    font-weight: bold;
    transition: color 0.3s ease; 
}

.links-redes a:hover {
    color: #f4a7bb;           
}



@media (max-width: 768px) {
 
    #pedido.card {
        background-color: #aa958e;
        padding: 30px 15px;
    }

    #pedido.card .datospersonales label, 
    #pedido.card .titulo-seccion {
        color: white; 
    }


    .contacto {
        flex-direction: column;
        gap: 30px;
    }

    .info-footer-container {
        text-align: center;
    }

    .contenedor-servicios {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .servicio-card {
        width: 100%;
        max-width: 350px;
    }

    #titulo-principal {
        font-size: 3.5rem;
    }

    .datospersonales {
        padding: 0 10px; 
    }

    #pedido-mensaje {
        min-height: 100px;
    }

    .copyright p {
        font-size: 0.75rem;
        padding: 0 20px;
    }
}